# Practice with Numpy arrays

In [ ]:
# Don't change this cell; just run it.
# The array library
import numpy as np

# Only show 6 decimals when printing numbers in arrays.
np.set_printoptions(precision=6)

# The OKpy testing system.
from client.api.notebook import Notebook
ok = Notebook('array_practice.ok')

## Simple arrays


Create an array with variable name `a` and the following contents (shape (3, 4)):

```
2  7 12  0
3  9  3  4
4  0  1  3
```

To answer the question, replace the `...` in the cell below with the correct text.

In [ ]:
#- create array "a" with values
#-     2  7 12  0
#-     3  9  3  4
#-     4  0  1  3
a = np.array(...)
# Show the result.
a

In [ ]:
_ = ok.grade('q_a')

Show the`shape` of the array `a`.

In [ ]:
#- Array shape?
a...

Show the `ndim` of the array `a`.

In [ ]:
#- Array ndim?
...

How about the `len` of the array?

In [ ]:
#- Array length
...

Can you get the `ndim` and `len` from the shape?

In [ ]:
#- Get ndim and length from the shape
...
...

## Creating arrays using functions


Create a 1D array from 2 through 5 inclusive.

In [ ]:
#- 1D array 2 through 5
two_through_five = np.arange(...)
# Show the result
two_through_five

In [ ]:
_ = ok.grade('q_two_through_five')

Make an array with 10 equally spaced elements between 2 and 5 inclusive.

In [ ]:
#- 10 equally spaced elements between 2 and 5
spaced = ...
# Show the result
spaced

In [ ]:
_ = ok.grade('q_spaced')

Make an all-ones array shape (4, 4).

In [ ]:
#- Shape 4,4 array of 1
all_ones = ...

In [ ]:
_ = ok.grade('q_all_ones')

Make an identity array shape (6, 6).

In [ ]:
#- Identity array shape 6, 6
my_eye = ...
# Show the result
my_eye

In [ ]:
_ = ok.grade('q_my_eye')

Make this array with a single Python / numpy command:

```
1  0  0
0  2  0
0  0  3
```

Hint: what type of array is this?

In [ ]:
#- Array with top left value == 1 etc
one_two_three = ...
# Show the result
one_two_three

In [ ]:
_ = ok.grade('q_one_two_three')

Here is a Numpy random number generator object:

In [ ]:
rng = np.random.default_rng()
rng

Look at the docstring for `rng.standard_normal`.  Here's a cell that you can
use to do that.  In particular, check out the examples.

In [ ]:
rng...

Make a shape (3, 5) array with random numbers from a standard normal
distribution (a normal distribution with mean 0 and variance 1).

In [ ]:
#- Array of random numbers shape 3, 5
rand_arr = rng.standard_normal(...)
# Show the result
rand_arr

In [ ]:
_ = ok.grade('q_rand_arr')

## Simple visualizations


Make an array `x` with 100 evenly spaced values between 0 and 2 \* pi;

In [ ]:
#- x is an array with 100 evenly spaced numbers 0 - 2 pi
x = ...
# Show the result
x

In [ ]:
_ = ok.grade('q_x')

Make an array `y` which contains the cosine of the corresponding value in `x`
â€” so `y[i] = cos(x[i])` (hint: `np.lookfor('cosine')`).

In [ ]:
#- y has cosines of values in x
y = ...
# Show the result
y

In [ ]:
_ = ok.grade('q_y')

Plot `x` against `y`;

In [ ]:
#- plot x against y
# Import the plotting library in the standard way.
import matplotlib.pyplot as plt
plt...

Make a 10 by 20 array of mean 0 variance 1 normal random numbers;

In [ ]:
#- Shape 10, 20 array of random numbers
rand_arr_10_20 = ...
# Show the result
rand_arr_10_20

In [ ]:
_ = ok.grade('q_rand_arr_10_20')

Display this array as an image;

In [ ]:
#- Display as image
plt...

Investigate `plt.cm` and `plt.plot`.  See if you can work out how to make the
displayed image be grayscale instead of color.

In [ ]:
#- Grayscale image of array
plt.imshow(rand_arr_10_20, cmap=plt.cm.gray)

## Indexing and slicing, array creation

See discussion at Index ordering and reshape in NumPy and MATLAB.


Create the following array, call this `a` (you did this before):

```
2  7 12  0
3  9  3  4
4  0  1  3
```

In [ ]:
#- Create array "a"
a = np.array(...)
# Show the result.
a

In [ ]:
_ = ok.grade('q_a')

Get the 2nd row of `a`.  It should be equal to `[ 3 9 3 4]`.

In [ ]:
#- 2nd row of a
second_row = ...
# Show the result
second_row

In [ ]:
_ = ok.grade('q_second_row')

Get the 3rd column of `a` (`[12 3 1]`);

In [ ]:
#- 3rd column of a
third_column = ...
# Show the result
third_column

In [ ]:
_ = ok.grade('q_third_column')

Create the following array, and call it `six_two`.  Notice that the array values do not have decimal points - they are integers (counting numbers).  Create this array to make sure you have integers and not floating point values.

```
[[1, 1, 1, 1],
[1, 1, 1, 1],
[1, 1, 1, 2],
[1, 6, 1, 1]]
```

Please don't type in the values, but work out how to construct the array by
making a good starting point, and assigning to the elements that aren't yet
correct.

Par for this course: 3 statements.

*Hint*: Individual array elements can be accessed similarly to a list, e.g.
`a[1]` or `a[1, 2]`.

In [ ]:
#- Build given arrays
six_two = ...
...
...
# Show the result
six_two

In [ ]:
_ = ok.grade('q_six_two')

Now create this array, and call it `off_stripe`.  Notice these are floating
point values.  Again, don't create the array by typing in the values, but work
out how to create this array with the Numpy function(s).

```
[[0., 0., 0., 0., 0., 0.],
[2., 0., 0., 0., 0., 0.],
[0., 3., 0., 0., 0., 0.],
[0., 0., 4., 0., 0., 0.],
[0., 0., 0., 5., 0., 0.],
[0., 0., 0., 0., 6., 0.]]
```

Par is one statement!

*Hint*: Examine the docstring for `np.diag`.

In [ ]:
off_stripe = ...
# Show the result
off_stripe

In [ ]:
_ = ok.grade('q_off_stripe')

Skim through the documentation for `np.tile`, and use this function to
construct the array:

```
[[4, 3, 4, 3, 4, 3],
[2, 1, 2, 1, 2, 1],
[4, 3, 4, 3, 4, 3],
[2, 1, 2, 1, 2, 1]]
```

Call the array `my_tiled`.

In [ ]:
#- Use np.tile to construct array
my_tiled = ...
# Show the result
my_tiled

In [ ]:
_ = ok.grade('q_my_tiled')

## Fancy indexing using Boolean arrays


Here we create the following array `a` (same as before):

```
2  7 12  0
3  9  3  4
4  0  1  3
```

In [ ]:
# Create array a
# Recreate it here, just in case.
a = np.array([[2, 7, 12, 0], [3, 9, 3, 4], [4, 0, 1, 3]])

Use `>` to make a mask that is true where the elements are greater than
5, like this:

```
False True  True  False
False True  False False
False False False False
```

Call this array `my_mask`.

In [ ]:
#- Make mask for values greater than 5
my_mask = ...
# Show the result
my_mask

In [ ]:
_ = ok.grade('q_my_mask')

Put all the elements in `a` that are greater than 5 into a new array `gt_5`.

In [ ]:
#- Return all values in a that are greater than 5
gt_5 = ...
# Show the result
gt_5

In [ ]:
_ = ok.grade('q_gt_5')

Set all the elements greater than 5 to be equal to 5, to get this:

```
2  5  5  0
3  5  3  4
4  0  1  3
```

Call this array `b`.  Start with `b` as a new copy of `a`.

In [ ]:
#- Set all elements greater than 5 to equal 5
# Copy the array `a` in order not to write over it.
b = a.copy()
# Show the result
b

In [ ]:
_ = ok.grade('q_b')

## Elementwise operations


Remember our array `a`:

```
2  7 12  0
3  9  3  4
4  0  1  3
```

Use array slicing to get a new array composed of the even columns (0, 2) of
`a`. Now get the array that contains the odd columns (1, 3) of `a`.  Add these
two arrays.

In [ ]:
#- Add even and odd columns of a
a = np.array([[2, 7, 12, 0], [3, 9, 3, 4], [4, 0, 1,  3]])
...
...
even_plus_odd = ...
# Show the result
even_plus_odd

In [ ]:
_ = ok.grade('q_even_plus_odd')

Generate the following array, call it `powers_of_two`:

```
[2**0, 2**1, 2**2, 2**3, 2**4]
```

In [ ]:
#- Generate array of powers of 2
powers_of_two = ...
# Show the result
powers_of_two

In [ ]:
_ = ok.grade('q_powers_of_two')

Generate an array length 10 such that this is true of the elements (where
`my_values[i]` is the element of `my_values` at index `i`):

```
my_values[i] = 2 ** (3 * i) - i
```

In [ ]:
#- Generate array
my_values = ...
# Show the result
my_values

In [ ]:
_ = ok.grade('q_my_values')

## Summary functions

Remember our array `a`:

```
2  7 12  0
3  9  3  4
4  0  1  3
```

In [ ]:
# Run the cell to re-create the array
a = np.array([[2, 7, 12, 0], [3, 9, 3, 4], [4, 0, 1,  3]])

Show the sum of all the values.

In [ ]:
#- Sum of values in a
a_sum = ...
# Show the result
a_sum

In [ ]:
_ = ok.grade('q_a_sum')

Show the sum of the columns.

In [ ]:
#- Sum of the values of the columns in a.
#- There are four columns, so there will be four values.
col_sum = ...
# Show the result
col_sum

In [ ]:
_ = ok.grade('q_col_sum')

Show the sum of the rows.

In [ ]:
#- Sum of the values of the rows in a
row_sum = ...
# Show the result
row_sum

In [ ]:
_ = ok.grade('q_row_sum')

Show the mean of all the values in `a`.

In [ ]:
#- Mean of all the values in a
a_mean = ...
# Show the result
a_mean

In [ ]:
_ = ok.grade('q_a_mean')

Show the min of all the values.

In [ ]:
#- Minimum of all the values in a
a_min = ...
# Show the result
a_min

In [ ]:
_ = ok.grade('q_a_min')

The max?

In [ ]:
#- Maximum of all the values in a
a_max = ...
# Show the result
a_max

In [ ]:
_ = ok.grade('q_a_min')

## Done.

Congratulations, you're done with the assignment!  Be sure to:

- **run all the tests** (the next cell has a shortcut for that).
- **Save and Checkpoint** from the `File` menu.

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]